* {
  margin: 0;
  padding: 0;
}
.header {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.625rem;
  border-bottom: 1px solid #969696;
}
.header .header-left {
  width: 1.40625rem;
  text-align: center;
}
.header .header-title {
  display: inline-block;
  width: 6.25rem;
  text-align: center;
}
.header .header-right {
  width: 1.40625rem;
  text-align: center;
}
.bianji {
  height: 1.40625rem;
  font-size: 0.4375rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #969696;
}
.bianji .bianji-left {
  color: #969696;
  float: left;
}
.bianji .bianji-left i {
  margin-left: 0.3125rem;
}
.bianji .bianji-right {
  float: right;
  color: #db292f;
  margin-right: 0.3125rem;
}
.ziying {
  height: 1.40625rem;
  font-size: 0.4375rem;
  line-height: 1.40625rem;
  border-bottom: 1px solid #969696;
}
.ziying .fuhao {
  color: #969696;
  margin-right: 0.3125rem;
}
.ziying .fuhao i {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  color: #db292f;
}
.ziying .ziti {
  font-weight: 800;
}
.youhuiquan {
  height: 1.40625rem;
  font-size: 0.375rem;
  line-height: 1.40625rem;
  color: #969696;
  border-bottom: 1px solid #969696;
}
.youhuiquan .wenzi {
  margin-left: 0.3125rem;
}
.floor1 {
  height: 4.75rem;
  border-bottom: 1px solid #969696;
}
.floor1 .floor1-left {
  float: left;
  width: 4.375rem;
}
.floor1 .floor1-left .yuan {
  display: inline-block;
  margin-left: 0.3125rem;
  width: 0.46875rem;
  height: 0.46875rem;
  border: 5px solid #969696;
  border-radius: 50%;
  margin-bottom: 1.5625rem;
}
.floor1 .floor1-left img {
  width: 3.125rem;
  margin-top: 0.46875rem;
}
.floor1 .floor1-right {
  float: right;
  width: 5.46875rem;
}
.floor1 .floor1-right p:nth-child(1) {
  margin-top: 0.46875rem;
  margin-right: 0.3125rem;
  font-size: 0.4375rem;
  font-weight: 800;
}
.floor1 .floor1-right p:nth-child(2) {
  font-size: 0.4375rem;
  margin-top: 0.3125rem;
  color: #565656;
}
.floor1 .floor1-right p:nth-child(3) {
  margin-top: -0.15625rem;
}
.floor1 .floor1-right p:nth-child(3) span:nth-child(1) {
  font-size: 0.375rem;
  color: #db292f;
}
.floor1 .floor1-right p:nth-child(3) span:nth-child(2) {
  font-size: 0.625rem;
  color: #969696;
  margin-left: 0.46875rem;
}
.floor1 .floor1-right p:nth-child(3) span:nth-child(3) {
  font-size: 0.46875rem;
  color: #969696;
  margin-left: 0.3125rem;
}
.floor1 .floor1-right p:nth-child(3) span:nth-child(4) {
  font-size: 0.625rem;
  color: #969696;
  margin-left: 0.3125rem;
}
.floor1 .floor1-right p:nth-child(4) {
  font-size: 0.375rem;
  color: #969696;
  margin-top: 0.15625rem;
}
.floor1 .floor1-right p:nth-child(4) span:nth-child(1) {
  margin-left: 1.875rem;
}
.floor1 .floor1-right p:nth-child(4) span:nth-child(2) {
  margin-left: 0.3125rem;
}
.foot {
  width: 10rem;
  height: 1.5625rem;
  font-size: 0.3125rem;
  background: #fff;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #969696;
}
.foot .foot-left {
  width: 1.5625rem;
  margin-top: 0.15625rem;
  float: left;
  text-align: center;
}
.foot .foot-left i {
  font-size: 0.625rem;
  color: #db292f;
}
.foot .foot-left p {
  margin-top: 0.15625rem;
  font-size: 0.375rem;
  color: #969696;
}
.foot .foot-center {
  float: left;
  width: 4.6875rem;
}
.foot .foot-center p:nth-child(1) {
  margin-top: 0.21875rem;
}
.foot .foot-center p:nth-child(1) span:nth-child(1) {
  font-size: 0.5rem;
  font-weight: 800;
}
.foot .foot-center p:nth-child(1) span:nth-child(2) {
  font-size: 0.5rem;
  color: #db292f;
  font-weight: 800;
}
.foot .foot-center p:nth-child(2) {
  color: #969696;
  font-size: 0.375rem;
  margin-top: 0.09375rem;
}
.foot .foot-center p:nth-child(2) span:nth-child(2) {
  margin-right: 0.15625rem;
}
.foot .foot-right {
  width: 3.125rem;
  font-size: 0.5rem;
  line-height: 1.5625rem;
  float: right;
  text-align: center;
  background: #db292f;
  color: #fff;
  font-weight: 800;
}
